<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    28/06/2017
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">27/06/2017</a></li>
	    <li><a href="#">26/06/2017</a></li>
	    <li><a href="#">25/06/2017</a></li>
	    <li><a href="#">24/06/2017</a></li>
	    <li><a href="#">23/06/2017</a></li>
	    <li><a href="#">22/06/2017</a></li>
	  </ul>
	</div>

</html>