<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="refresh" content="900" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />


  <title>DPI - Consumo de Dados</title>
</head>

<body>
<header layout:include="cabecalho"></header>

<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/exporting.js"></script>


<!-- menu dropdown -->
<!-- <div layout:include="menuDropDown"></div>-->

<div id="grafico_arquivos_em_disco" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<!-- <script type='text/javascript'> -->
<script th:inline="javascript">

/*<![CDATA[*/	  
var categoryValues = eval("[" + [[${chartCategoriesValues}]] + "]");

var amtOfFilesValues_324pl = eval("[" + [[${chartAmtOfFilesValues_324pl}]] + "]");
var amtOfFilesValues_325pl = eval("[" + [[${chartAmtOfFilesValues_325pl}]] + "]");

/*]]>*/


Highcharts.chart('grafico_arquivos_em_disco', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'DPI - Consumo de Dados / Coleta'
    },
    subtitle: {
        text: 'Arquivos acumulados em disco a mover para HDFS'
    },
    xAxis: {
            	
              categories: categoryValues
    },
    yAxis: {
        title: {
            text: 'Qt de Arquivos'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    series: [{
        name: 'brtlvlts0324pl',
        data: amtOfFilesValues_324pl
    }, {
        name: 'brtlvlts0325pl',
    	data: amtOfFilesValues_325pl
    }
    ]
});
</script>

<hr></hr>

<div id="grafico_arquivos_acumulados" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script th:inline="javascript">

<!-- Variaveis para grafico de arquivos acumulados-->
/*<![CDATA[*/	  
var categoryValuesAcum = eval("[" + [[${chartArqAcumuladosCategoriesValues}]] + "]");

var values_coletora_10_81_40_4 = eval("[" + [[${values_coletora_10_81_40_4}]] + "]");
var values_coletora_10_81_40_5 = eval("[" + [[${values_coletora_10_81_40_5}]] + "]");
var values_coletora_10_81_40_6 = eval("[" + [[${values_coletora_10_81_40_6}]] + "]");
var values_coletora_10_81_40_7 = eval("[" + [[${values_coletora_10_81_40_7}]] + "]");
var values_coletora_10_81_40_8 = eval("[" + [[${values_coletora_10_81_40_8}]] + "]");
var values_coletora_10_81_40_9 = eval("[" + [[${values_coletora_10_81_40_9}]] + "]");
var values_coletora_10_81_40_10 = eval("[" + [[${values_coletora_10_81_40_10}]] + "]");
var values_coletora_10_81_40_11 = eval("[" + [[${values_coletora_10_81_40_11}]] + "]");
var values_coletora_10_81_40_12 = eval("[" + [[${values_coletora_10_81_40_12}]] + "]");
/*]]>*/

Highcharts.chart('grafico_arquivos_acumulados', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'DPI - Consumo de Dados / Coleta'
    },
    subtitle: {
        text: 'Arquivos acumulados nas coletoras para compactação'
    },
    xAxis: {
            	
              categories: categoryValuesAcum
    },
    yAxis: {
        title: {
            text: 'Qt de Arquivos'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    series: [{
	        name: '10.81.40.4',
	        data: values_coletora_10_81_40_4
        },
    
        {
	        name: '10.81.40.5',
	        data: values_coletora_10_81_40_4
        },
        
        {
	         name: '10.81.40.6',
	         data: values_coletora_10_81_40_6
        },        
    
        {
			name: '10.81.40.7',
			data: values_coletora_10_81_40_7
        },
        
        {
			name: '10.81.40.8',
	    	data: values_coletora_10_81_40_8
            },        
    
        {
    		name: '10.81.40.9',
    		data: values_coletora_10_81_40_9
            },
                
        {
    		name: '10.81.40.10',
    		data: values_coletora_10_81_40_10
            },                
        {
    		name: '10.81.40.11',
    		data: values_coletora_10_81_40_11
            },
                        
         {
     		name: '10.81.40.12',
     		data: values_coletora_10_81_40_12
             }
    ]
});
</script>

<hr></hr>

<table border="0" align="center">

	<tr>
		<td><div id="donuts" style="min-width: 200; height: 400px; margin: 0 auto"></div>
			<script th:inline="javascript">
	
				<!-- Variaveis para grafico de arquivos acumulados-->
				/*<![CDATA[*/	  
				
				/*]]>*/
		
				Highcharts.chart('donuts', {
				    chart: {
				        plotBackgroundColor: null,
				        plotBorderWidth: 0,
				        plotShadow: false
				    },
				    title: {
				        text: 'Total',
				        align: 'center',
				        verticalAlign: 'middle',
				        y: 40
				    },
				    tooltip: {
				        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				    },
				    plotOptions: {
				        pie: {
				            dataLabels: {
				                enabled: true,
				                distance: -50,
				                style: {
				                    fontWeight: 'bold',
				                    color: 'white'
				                }
				            },
				            startAngle: -90,
				            endAngle: 90,
				            center: ['50%', '75%']
				        }
				    },
				    series: [{
				        type: 'pie',
				        name: 'Arquivos Coletados',
				        innerSize: '50%',
				        data: [
				            ['Other',   50.00],
				            ['Http',       25.00],
				            ['Ftp', 10.00],
				            ['wap', 15.00]
				        ]
				    }]
				});
			</script>
		</td>

		<td>
			
			<h2 th:text="${brtlvlts0324pl_value}"></h2>
			<h2 th:text="${brtlvlts0325pl_value}"></h2>

		
		</td>
	</tr>
</table>




</body>

</html>