<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DPI</title>


<!-- https://developers.google.com/chart/interactive/docs/gallery/linechart -->



  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--     <script type="text/javascript"> -->
    <script th:inline="javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

    /*<![CDATA[*/	
   	  //var teste = [[${chartValues}]];
      var arr = eval("[" + [[${chartValues}]] + "]");
   	   /*]]>*/
   	  //var teste = "['21:29',5,2.63],['21:32',6,2.63],['21:33',6,2.63],['21:34',6,2.63],['21:35',6,2.63],['21:36',6,2.63],['22:06',6,2.63],['22:06',6,2.63],['22:07',6,2.63],['22:07',6,2.63],['22:07',6,2.63],['22:08',6,2.63],['22:08',6,2.63],['22:09',6,2.63],['22:09',6,2.63],['22:09',6,2.63],['22:09',6,2.63],['22:09',6,2.63],['22:10',6,2.63],['22:10',6,2.63],['22:12',6,2.63],['22:12',6,2.63],['22:13',6,2.63],['22:13',6,2.63],['22:13',6,2.63],['22:13',6,2.63],['22:13',6,2.63],['22:14',6,2.63],['22:54',6,2.63],['22:54',6,2.63],['22:54',6,2.63],['22:55',6,2.63],['22:55',6,2.63],['22:56',6,2.63]";
   	   //var teste = [['21:29',5,2.63],['21:32',6,5.63],['21:33',7,8.63],['21:34',8,10.63]];
   	   //var teste = "['21:29',5,2.63],['21:32',6,5.63],['21:33',7,8.63],['21:34',8,10.63]";
  	  	
    var data = new google.visualization.DataTable();
    	
    	  
      data.addColumn('string', 'Hora');
      data.addColumn('number', 'Total de Arquivos não movidos');
      data.addColumn('number', 'Total de Arquivos coletados');
      //data.addColumn('number', 'Transformers: Age of Extinction');

      //document.write(teste);
      //document.write(typeof(teste));
//       var arr = teste.split(";");
	  //var arr = eval("[" + teste + "]");
      //document.write(arr);
      //document.write(typeof(arr));
      data.addRows(arr);
      
      
      
      var options = {
        chart: {
          title: 'Coleta - Consumo de dados - DPI',
          subtitle: 'Total de arquivos em disco'
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'bottom'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
  </script>
  
</head>
<body>
  <div id="line_top_x"></div>
</body>
</html>



